.mine-img {
    border-radius:50%;
    width: 50%;
    height: 250%;
}

.readme {
    color: gray;
    
}

.readme .title {
    text-align: center;
    display: block;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 12px;
}

.item {
    display: block;
    margin-top: 8px;
    margin-left: 52px;
    font-size: 14.7px;
}

.readme .introduction {
    margin-top: 15px;
}

.readme .insufficience {
    margin-top: 39px;
}

.readme .copyright {
    margin-top: 78px;
    margin-left: 8px;
    margin-bottom: 2px;
}




/* 接收方输入框 */
.receiver-input {
    outline: none;
    margin-left: 10px;
    height: 30px;
    font-size: 13px;
    font-style: italic;
    color: blue;
    background: #eceff1;
    border: none;

    border-top-width: 0px; 
    border-right-width: 0px; 
    border-left-width: 0px; 
    border-bottom: gray 1.5px solid; 
}

.change-user {
    float: right;
    color: gray;
    border: 1px double transparent;
    text-decoration: none;
}