<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/login.css}">
    <link rel="shortcut icon" href="./favicon.ico">
</head>
<body>
<form id="root-form" action="./user/register" method="post">
    <span class="slogan">Please register</span>
    <input type="text" class="input-message" name="username" placeholder="Username">
    <br>
    <input type="password" class="input-message" name="password" placeholder="Password">
    <br>
    <input type="password" class="input-message" placeholder="Confirm password">
    <br><br>
    <input type="submit" class="input-button" value="Register">
    <br>
    <input type="reset" class="input-button" value="Reset">
    <br>
    <a href="./login">Login</a>
</form>
<script th:src="@{lib/jquery.js}"></script>
<script th:src="@{lib/jquery-form.js}"></script>
<script th:src="@{js/register.js}"></script>
</body>
</html>